<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>

    <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
  </div>

			


			




			<a class="plus" href=<%=new_list_link_path(@list) %>><i class="large material-icons">add_circle_outline</i></a>
			</div>